<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>best_books3</title>
</head>
<body>

Birnam Wood
by Eleanor Catton (Farrar, Straus & Giroux)
Fiction

Mira Bunting is the twenty-nine-year-old founder of Birnam Wood, an activist collective, in New Zealand, that illegally plants gardens on unused land.
One day, while trespassing on a large farm, she stumbles upon Robert Lemoine, a billionaire drone manufacturer who offers to finance the group.
In fact, Lemoine has his own agenda—he’s purchasing the farm in secret, in order to extract rare-earth minerals that will make him the richest man in history—but this is just the first of the novel’s many sleights of hand.
The story, which initially appears to be a study of young, white leftists grappling with the ethics of taking Lemoine’s money, evolves into a shocking tale of deceit, misunderstanding, and violence.
Catton, who became the youngest winner of the Booker for her previous novel, “The Luminaries,” wants to revive plot as a literary mode, and her book’s biggest twist is that every choice matters, albeit in ways we might not have anticipated.


</body>
</html>