<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>best_books2</title>
</head>
<body>

Biography of X
by Catherine Lacey (Farrar, Straus & Giroux)
Fiction

In this intricate, metafictional novel, a recently widowed writer embarks on a biography of her late wife, an enigmatic artist, author, and musician known only as X.
As the writer delves deeper into X’s life and work—distinguished by X’s penchant for adopting Cindy Shermanesque personae—Lacey unfolds a startling counter-history, in which the United States has just reunified, having dissolved, after the Second World War, into three states: one liberal, one libertarian, and one theocratic.
Throughout, Lacey artfully blends historical anecdotes—X is seen penning songs for David Bowie and attending openings with Richard Serra—into her fictional universe, making uncomfortable connections between X’s fragile world and our own.


</body>
</html>