<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hemingway</title>
</head>
<body>

Ernest Miller Hemingway
21. července 1899 Oak Park, Illinois – 2. červenec 1961 Ketchum, Idaho

byl americký spisovatel.
Je považován za čelného představitele tzv. ztracené generace.
V roce 1953 byl oceněn Pulitzerovou cenou, o rok později pak získal Nobelovu cenu za literaturu.
Hemingway byl mistrem krátkých forem v próze a jeho úsporný styl se stal pojmem v moderní světové literatuře.

</body>
</html>