<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shakespeare</title>
</head>
<body>

William Shakespeare (pokřtěn 26. dubna 1564, Stratford nad Avonou – 3. května 1616 podle gregoriánského kalendáře, Stratford nad Avonou) byl anglický básník, dramatik a herec, který bývá považován za největšího anglicky píšícího spisovatele a celosvětově nejvýznamnějšího dramatika.
Je často nazýván anglickým národním básníkem a „bardem z Avonu“.
Připisuje se mu přibližně 38 dochovaných her (včetně těch, na kterých asi s někým spolupracoval), 154 sonetů, dvě dlouhé epické básně a několik dalších básní, z nichž některé jsou nejistého autorství. Jeho hry byly přeloženy do všech hlavních živých jazyků a jsou uváděny častěji než hry jakéhokoli jiného dramatika.

</body>
</html>