<nav>   <!--nav - navigation, ul - seznamy, li - polozky v seznamech-->
    <ul>
        <li><a href="{% url 'current_day' %}">Monday</a></li>
        <li><a href="{% url 'current_day' %}">Tuesday</a></li>
        <li><a href="{% url 'current_day' %}">Wednesday</a></li>
        <li><a href="{% url 'current_day' %}">Thursday</a></li>
        <li><a href="{% url 'current_day' %}">Friday</a></li>
        <li><a href="{% url 'current_day' %}">Saturday</a></li>
        <li><a href="{% url 'current_day' %}">Sunday</a></li>
    </ul>
</nav>