{% extends "master.html" %}

{% block content %}
<h1>Members</h1>

<ul>                  <!--ul - oznaceni seznamu, li list item radek seznamu, a href hypertextovy odkaz-->
  {% for member in mymembers %}
  <li><a href="details/{{ member.id }}">{{ member.firstname }} {{ member.lastname }}</a></li>
<!--    <li>{{ member.firstname }} {{ member.lastname }}</li> neproklikavaci odkaz href-->
  {% endfor %}


</ul>

{% endblock %}

<!-- vkladame content block a extends master.html, jeste se dodela views a urls-->

