<nav>   <!--nav - navigation, ul - seznamy, li - polozky v seznamech-->
    <ul>
        <li><a href="{% url 'home_page' %}">Domov</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'news2' %}">News2</a></li>
        <li><a href="{% url 'supernews' %}">Super News</a></li>     <!--vola se pres name= v urls-->
        <li><a href="{% url 'current_day' %}">Cureent Day</a></li>
        <li><a href="{% url 'members' %}">Členové</a></li>
        <li><a href="{% url 'phones' %}">Phones</a></li>
    </ul>
</nav>